---
layout: default
title: yayun's blog 
tagline:
---
{% include JB/setup %}

<br><br><br><br>
{% for post in paginator.posts%}
<div class="row-fluid">
<div class="row span12">
        <div>
        {% capture summary %}{{  post.content | split:'<!--more-->'|first}}<br>{% endcapture%}
        <h3><a class="title" href="{{post.url}}">{{post.title}}</a></h3>
        {{summary}}
        <a href="{{post.url}}">Read more...</a>
        </div>
        <br>
        <div>
          <cite>{{ post.date | date: "%Y-%m-%d" }}</cite> <i class="icon-tag"></i>  {% for tag in post.tags %}<a href="{{{{ BASE_PATH }}tags.html#{{ tag }}-ref">{{ tag }}</a>{% if forloop.last %}{% else %}, {% endif %}{% endfor %}
       </div> 
        <hr/>
</div>
</div>
{% endfor%}
{% if paginator.total_pages > 1 %}
<div class="pagination pagination-centered">
    <ul>
    {% if paginator.previous_page %}
        <li class="prev">
        {% if paginator.previous_page == 1 %}<a href="/">&larr; Previous</a>
        {% else %}<a href="/page{{ paginator.previous_page }}">&larr; Previous</a>
        {% endif %}
        </li>
    {% else %}
        <li class="prev disabled"><a>&larr; Previous</a></li>
    {% endif %}

    {% if paginator.total_pages > 2 %}
        {% if paginator.page == 1 %}<li class="disabled"><a>1</a></li>
        {% else %}<li><a href="/">1</a></li>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
            {% if paginator.page == count %}<li class="disabled"><a>{{ count }}</a></li>
            {% else %}<li><a href="/page{{ count }}">{{ count }}</a></li>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% if paginator.next_page %}
        <li class="next"><a href="/page{{ paginator.next_page }}">Next &rarr;</a></li>
    {% else %}
        <li class="next disabled"><a>Next &rarr;</a></li>
    {% endif %}
    </ul>
</div>
{% endif %}
